$icomoon-font-path: '../fonts' !default;
$i-vb-ocr: '\e900';
$i-vb-bing: '\e909';
$i-vb-next: '\e903';
$i-vb-prev: '\e908';
$i-vb-arrow-left2: '\e901';
$i-vb-arrow-right2: '\e902';
$i-vb-more-vid: '\e904';
$i-vb-play2: '\e905';
$i-vb-plus-sml: '\e906';
$i-vb-speaker: '\e907';
$i-vb-hamburger: '\e700';
$i-vb-arrow-down: '\e011';
$i-vb-plus: '\e109';
$i-vb-close: '\e10a';
$i-vb-conf: '\e115';
$i-vb-letter: '\e119';
$i-vb-pin: '\e141';
$i-vb-share: '\e72d';
$i-vb-minus: '\e108';
$i-vb-switch-user: '\e748';
$i-vb-positive: '\e170';
$i-vb-azure: '\e782';
$i-vb-warning-invert: '\e814';
$i-vb-arrow-up: '\e010';
$i-vb-sub-menu: '\e10c';
$i-vb-refresh: '\e149';
$i-vb-notify: '\e1de';
$i-vb-resize: '\e73f';
$i-vb-fullscreen: '\e740';
$i-vb-negative: '\e757';
$i-vb-audio: '\e15d';
$i-vb-play: '\e102';
$i-vb-pause: '\e103';
$i-vb-arrow-left: '\e00e';
$i-vb-arrow-right: '\e00f';
$i-vb-user: '\e13d';
$i-vb-time: '\e2ad';
$i-vb-users: '\e125';
$i-vb-search: '\e094';
$i-vb-ok: '\e008';
$i-vb-delete: '\e107';
$i-vb-image: '\e7a9';
$i-vb-warning: '\e7ba';
$i-vb-next-track: '\e101';
$i-vb-close-big: '\e106';
$i-vb-download-arrow: '\e118';
$i-vb-send: '\e120';
$i-vb-chat: '\e8bd';
$i-vb-pipe: '\e8ce';
$i-vb-user-blocked: '\e1e0';
$i-vb-add-user: '\e8fa';
$i-vb-translate: '\e128';
$i-vb-remove: '\ea39';
$i-vb-neutral: '\ea87';
$i-vb-download: '\ebd3';
$i-vb-twitter: '\ecb5';
$i-vb-upload: '\ec8e';
$i-vb-transfer: '\ee05';
$i-vb-help: '\eefc';
$i-vb-edit: '\ef9b';
