@import "variables";

@font-face {
  font-family: 'videobreakdown';
  src:
    url('#{$icomoon-font-path}/videobreakdown.ttf?ccibu') format('truetype'),
    url('#{$icomoon-font-path}/videobreakdown.woff?ccibu') format('woff'),
    url('#{$icomoon-font-path}/videobreakdown.svg?ccibu#videobreakdown') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-vb-"], [class*=" i-vb-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'videobreakdown' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.i-vb-ocr {
  &:before {
    content: $i-vb-ocr;
  }
}
.i-vb-bing {
  &:before {
    content: $i-vb-bing;
  }
}
.i-vb-next {
  &:before {
    content: $i-vb-next;
  }
}
.i-vb-prev {
  &:before {
    content: $i-vb-prev;
  }
}
.i-vb-arrow-left2 {
  &:before {
    content: $i-vb-arrow-left2;
  }
}
.i-vb-arrow-right2 {
  &:before {
    content: $i-vb-arrow-right2;
  }
}
.i-vb-more-vid {
  &:before {
    content: $i-vb-more-vid;
  }
}
.i-vb-play2 {
  &:before {
    content: $i-vb-play2;
  }
}
.i-vb-plus-sml {
  &:before {
    content: $i-vb-plus-sml;
  }
}
.i-vb-speaker {
  &:before {
    content: $i-vb-speaker;
  }
}
.i-vb-hamburger {
  &:before {
    content: $i-vb-hamburger;
  }
}
.i-vb-arrow-down {
  &:before {
    content: $i-vb-arrow-down;
  }
}
.i-vb-plus {
  &:before {
    content: $i-vb-plus;
  }
}
.i-vb-close {
  &:before {
    content: $i-vb-close;
  }
}
.i-vb-conf {
  &:before {
    content: $i-vb-conf;
  }
}
.i-vb-letter {
  &:before {
    content: $i-vb-letter;
  }
}
.i-vb-pin {
  &:before {
    content: $i-vb-pin;
  }
}
.i-vb-share {
  &:before {
    content: $i-vb-share;
  }
}
.i-vb-minus {
  &:before {
    content: $i-vb-minus;
  }
}
.i-vb-switch-user {
  &:before {
    content: $i-vb-switch-user;
  }
}
.i-vb-positive {
  &:before {
    content: $i-vb-positive;
  }
}
.i-vb-azure {
  &:before {
    content: $i-vb-azure;
  }
}
.i-vb-warning-invert {
  &:before {
    content: $i-vb-warning-invert;
  }
}
.i-vb-arrow-up {
  &:before {
    content: $i-vb-arrow-up;
  }
}
.i-vb-sub-menu {
  &:before {
    content: $i-vb-sub-menu;
  }
}
.i-vb-refresh {
  &:before {
    content: $i-vb-refresh;
  }
}
.i-vb-notify {
  &:before {
    content: $i-vb-notify;
  }
}
.i-vb-resize {
  &:before {
    content: $i-vb-resize;
  }
}
.i-vb-fullscreen {
  &:before {
    content: $i-vb-fullscreen;
  }
}
.i-vb-negative {
  &:before {
    content: $i-vb-negative;
  }
}
.i-vb-audio {
  &:before {
    content: $i-vb-audio;
  }
}
.i-vb-play {
  &:before {
    content: $i-vb-play;
  }
}
.i-vb-pause {
  &:before {
    content: $i-vb-pause;
  }
}
.i-vb-arrow-left {
  &:before {
    content: $i-vb-arrow-left;
  }
}
.i-vb-arrow-right {
  &:before {
    content: $i-vb-arrow-right;
  }
}
.i-vb-user {
  &:before {
    content: $i-vb-user;
  }
}
.i-vb-time {
  &:before {
    content: $i-vb-time;
  }
}
.i-vb-users {
  &:before {
    content: $i-vb-users;
  }
}
.i-vb-search {
  &:before {
    content: $i-vb-search;
  }
}
.i-vb-ok {
  &:before {
    content: $i-vb-ok;
  }
}
.i-vb-delete {
  &:before {
    content: $i-vb-delete;
  }
}
.i-vb-image {
  &:before {
    content: $i-vb-image;
  }
}
.i-vb-warning {
  &:before {
    content: $i-vb-warning;
  }
}
.i-vb-next-track {
  &:before {
    content: $i-vb-next-track;
  }
}
.i-vb-close-big {
  &:before {
    content: $i-vb-close-big;
  }
}
.i-vb-download-arrow {
  &:before {
    content: $i-vb-download-arrow;
  }
}
.i-vb-send {
  &:before {
    content: $i-vb-send;
  }
}
.i-vb-chat {
  &:before {
    content: $i-vb-chat;
  }
}
.i-vb-pipe {
  &:before {
    content: $i-vb-pipe;
  }
}
.i-vb-user-blocked {
  &:before {
    content: $i-vb-user-blocked;
  }
}
.i-vb-add-user {
  &:before {
    content: $i-vb-add-user;
  }
}
.i-vb-translate {
  &:before {
    content: $i-vb-translate;
  }
}
.i-vb-remove {
  &:before {
    content: $i-vb-remove;
  }
}
.i-vb-neutral {
  &:before {
    content: $i-vb-neutral;
  }
}
.i-vb-download {
  &:before {
    content: $i-vb-download;
  }
}
.i-vb-twitter {
  &:before {
    content: $i-vb-twitter;
  }
}
.i-vb-upload {
  &:before {
    content: $i-vb-upload;
  }
}
.i-vb-transfer {
  &:before {
    content: $i-vb-transfer;
  }
}
.i-vb-help {
  &:before {
    content: $i-vb-help;
  }
}
.i-vb-edit {
  &:before {
    content: $i-vb-edit;
  }
}

